* {
  box-sizing: border-box;
}

body {
  background: #8f480e;
}

a, .nav-item {
  all: unset;
}

.content-cont {
  width: 1003px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-block {
  position: relative;
  background: #131720;
  width: 100%;
  padding: 20px;
  padding-left: 111px;
  display: flex;
  color: white;
  margin-bottom: 40px;
}
.content-block_nav {
  padding-left: 20px;
}

.nav-bar {
  height: 82px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.nav-bar__right-wrapper {
  width: 50%;
}
.nav-bar__item-cont {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 0;
  display: flex;
  justify-content: space-around;
}

.nav-logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 62%;
  letter-spacing: 0.04em;
  color: white;
}

.greet-cont {
  width: 1156px;
  height: 500px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}
.greet-cont__left-wrap {
  width: 40%;
}
.greet-cont__right-wrap {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greet-cont__greet {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 82px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 15px;
}
.greet-cont__sub-cont {
  max-width: 447px;
}
.greet-cont__sub-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.55);
}

.services {
  min-height: 200px;
  margin-bottom: 40px;
}

.block-title {
  position: absolute;
  left: -60px;
  top: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.04em;
  color: #0A0E18;
  transform: rotate(-90deg);
}

.service {
  display: flex;
  align-items: center;
  width: 100%;
}
.service__cards-cont {
  width: 100%;
}

.title-cont {
  position: relative;
  margin-right: 35px;
}
.title-cont__title {
  font-family: "JetBrains Mono";
  font-style: normal;
  text-align: right;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: -0.01em;
}
.title-cont__title > span {
  font-weight: 200;
}
.title-cont__vertical-line {
  top: 37px;
  right: -83px;
  position: absolute;
  width: 130px;
  border: 1px solid #FE6F4D;
  transform: matrix(0, 1, -1, 0, 0, 0);
}

.cards {
  display: flex;
  justify-content: space-between;
}
.cards__card-title {
  display: flex;
  align-items: center;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 102.7%;
  letter-spacing: -0.07em;
  margin-bottom: 5px;
}
.cards__card-logo {
  margin-right: 5px;
}
.cards__card-logo > img {
  width: 17px;
  border-radius: 2px;
}
.cards__card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 95%;
  color: rgba(255, 255, 255, 0.77);
}
.cards__item {
  width: 130px;
  height: 130px;
  background: rgba(36, 157, 156, 0.85);
  box-shadow: inset 0px 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 12px;
  padding-top: 16px;
}
.cards__item_orange {
  background: rgba(254, 111, 77, 0.85);
}

.about {
  height: 255px;
  align-items: center;
  margin-bottom: 40px;
}
.about__title {
  left: -36px;
  top: 61px;
}
.about__img-container {
  width: 130px;
  height: 100%;
}
.about__vertical-line {
  width: 175px;
  top: 3px;
  right: -106px;
}
.about__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140.2%;
  margin-bottom: 7px;
}
.about__text > span {
  font-weight: 600;
}
.about__text:last-child {
  margin-bottom: 0px;
}

.skills {
  font-family: "Inter";
  height: 327px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.skills__title {
  left: -31px;
  top: 60px;
}
.skills__img {
  width: 208px;
  transform: rotate(81deg);
  bottom: -60px;
  left: 50px;
}
.skills__lang {
  width: 156px;
}

.sub-icon {
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}

.skill-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 101.2%;
  letter-spacing: -0.07em;
  margin-bottom: 15px;
  position: relative;
}
.skill-title__sub-line {
  position: absolute;
  bottom: -12px;
  width: 110px;
  border: 0.5px solid #1D6A69;
  z-index: -1;
}

.skill-el {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}
.skill-el__img-rectangle {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-el__img-rectangle > img {
  width: 12px;
  height: 12px;
}
.skill-el__title {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 102.7%;
  letter-spacing: -0.07em;
}

.prog-bar {
  width: 100px;
  height: 7px;
}
.prog-bar__chanell {
  height: inherit;
  background: #252933;
  box-shadow: inset 0px 0px 0.5px 0.5px #1B1E25;
  border-radius: 16px;
}
.prog-bar__indicator {
  width: 50%;
  height: inherit;
  background: #FE6F4D;
  box-shadow: 1px 0px 0.5px #21252F, 0px 0px 8px rgba(36, 157, 156, 0.31);
  border-radius: 16px;
}

.sw-skills {
  width: 198px;
}
.sw-skills__el {
  margin-bottom: 7px;
}
.sw-skills__title-sub-line {
  width: 145px;
}

.comp {
  width: 197px;
}
.comp__sub-line {
  width: 140px;
}

.list-content {
  display: flex;
  flex-direction: column;
}
.list-content__container {
  flex: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-left: 18px;
}
.list-content__container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.list-content__container ul li {
  list-style-type: disc;
}

.edu {
  width: 187px;
}
.edu__sub-line {
  width: 100px;
}
.edu__content {
  margin-bottom: 25px;
}
.edu__content-title {
  color: #FE6F4D;
}

.courses {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.courses__subtitle {
  color: #FE6F4D;
}
.courses__title {
  font-size: 20px;
}
.courses__sub-line {
  width: 70px;
}

.more-content-container {
  display: flex;
}

.more {
  height: inherit;
  width: 315px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  z-index: -1;
  overflow: hidden;
}
.more__title {
  left: -25px;
  top: 50px;
}
.more__icon {
  width: 210px;
  right: 15px;
  bottom: 1px;
  opacity: 0.25;
}

.contact {
  min-height: 200px;
  width: 659px;
  justify-content: space-between;
}
.contact__button-container {
  display: flex;
  flex-direction: column;
}
.contact__or-icon {
  align-self: center;
  font-weight: 900;
  font-size: 90px;
  margin-bottom: 20px;
  color: #10141D;
}

.link-btn {
  margin-bottom: 15px;
}
.link-btn:last-child {
  margin-bottom: 0;
}
.link-btn_contact {
  font-size: 22px;
}
.link-btn__color-blk {
  background: rgba(254, 111, 77, 0.81);
  border: 1px solid #FE6F4D;
  border-radius: 0.6em;
  width: 11.2rem;
  height: 2.4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link-btn__color-blk img {
  width: 2em;
}
.link-btn__color-blk_contact {
  background: #249D9C;
  border: 1px solid #58B7B6;
  width: 12.2rem;
}
.link-btn__inside-blk {
  background: #131720;
  border: inherit;
  border-radius: 0.6em;
  width: 9.1rem;
  height: inherit;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  font-family: "Inter";
  line-height: 101.2%;
  letter-spacing: -0.04em;
}
.link-btn__title_contact {
  font-size: 20px;
  line-height: 60%;
}
.link-btn__title_contact span {
  font-size: 12px;
  letter-spacing: 0em;
}
.link-btn__title_contact span::before {
  content: "\a";
  white-space: pre;
}

input[type=text] {
  background: #131720;
  width: 108px;
  color: white;
  border: none;
  border-bottom: 2px solid #249D9C;
  margin-bottom: 10px;
}

textarea {
  width: 261px;
  height: 92px;
  background: #131720;
  border: 2px solid #249D9C;
  border-radius: 3px;
  color: white;
  padding: 6px 9px;
  resize: none;
}

button[type=submit] {
  margin-top: 10px;
  background: #131720;
  color: white;
  width: 108px;
  height: 22px;
  border: 1px solid #249D9C;
  border-radius: 2px;
}/*# sourceMappingURL=style.css.map */