* {
  box-sizing: border-box;
}

body {
  background: #8f480e;
}

a, li {
  all: unset;
}

.content-cont {
  width: 1003px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-block {
  position: relative;
  background: #131720;
  width: 100%;
  padding: 20px;
  padding-left: 111px;
  display: flex;
  color: white;
}
.content-block_nav {
  padding-left: 20px;
}

.nav-bar {
  height: 82px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.nav-bar__right-wrapper {
  width: 50%;
}
.nav-bar__item-cont {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 0;
  display: flex;
  justify-content: space-around;
}

.nav-logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 62%;
  letter-spacing: 0.04em;
  color: white;
}

.greet-cont {
  width: 1156px;
  height: 500px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}
.greet-cont__left-wrap {
  width: 40%;
}
.greet-cont__right-wrap {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greet-cont__greet {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 82px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 15px;
}
.greet-cont__sub-cont {
  max-width: 447px;
}
.greet-cont__sub-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.55);
}

.services {
  min-height: 200px;
  margin-bottom: 40px;
}

.block-title {
  position: absolute;
  left: -60px;
  top: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.04em;
  color: #0A0E18;
  transform: rotate(-90deg);
}

.service {
  display: flex;
  align-items: center;
  width: 100%;
}
.service__cards-cont {
  width: 100%;
}

.title-cont {
  position: relative;
  margin-right: 35px;
}
.title-cont__title {
  font-family: "JetBrains Mono";
  font-style: normal;
  text-align: right;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: -0.01em;
}
.title-cont__title > span {
  font-weight: 200;
}
.title-cont__vertical-line {
  top: 37px;
  right: -83px;
  position: absolute;
  width: 130px;
  border: 1px solid #FE6F4D;
  transform: matrix(0, 1, -1, 0, 0, 0);
}

.cards {
  display: flex;
  justify-content: space-between;
}
.cards__card-title {
  display: flex;
  align-items: center;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 102.7%;
  letter-spacing: -0.07em;
  margin-bottom: 5px;
}
.cards__card-logo {
  margin-right: 5px;
}
.cards__card-logo > img {
  width: 17px;
  border-radius: 2px;
}
.cards__card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 95%;
  color: rgba(255, 255, 255, 0.77);
}
.cards__item {
  width: 130px;
  height: 130px;
  background: rgba(36, 157, 156, 0.85);
  box-shadow: inset 0px 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 12px;
  padding-top: 16px;
}
.cards__item_orange {
  background: rgba(254, 111, 77, 0.85);
}

.about {
  height: 255px;
  align-items: center;
}
.about__title {
  left: -36px;
  top: 61px;
}
.about__img-container {
  width: 130px;
  height: 100%;
}
.about__vertical-line {
  width: 175px;
  top: 3px;
  right: -106px;
}
.about__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140.2%;
  margin-bottom: 7px;
}
.about__text > span {
  font-weight: 600;
}
.about__text:last-child {
  margin-bottom: 0px;
}/*# sourceMappingURL=style.css.map */